<!DOCTYPE html>
<html>
	<head>
		<title>Instructions to Use</title>
	</head>
	<body>
		<div>
			<div>
				<h1>Instructions</h1>
				<p> To use this simple Instructions would be sufficient </p>
				<h3> Share Post </h3>
				<ol>
					<li> Click on the Share Content Button</li>
					<li> Fill in the field and press export</li>
					<li> Pess the Icon of site you want to post to.</li>
				</ol>
				<h3> Add logo </h3>
				<ol>
					<li> Upload the logo image, and add the desired position.</li>
					<li> Text is optional. Press upload, after you are done.</li>
					<li> Press Download to get the output.</li>
				</ol>

				<pre>
				Positions - Watermark:

        tl      Top Left Corner
        b       Below Watermark Image
        tc      Top Center
        r       On Right Of Watermark Image
        tr      Top Right
        cl      Center Left
        c       Center 
        cr      Center Right
        bl      Bottom Left
        bc      Bottom Center
        br      Bottom Right 
        bcl     Bottom Center Left
				</pre>

				<h3> Add text </h3>
				<ol>
					<li> Add the text, with the desired position. Press upload, after you are done.</li>
					<li> Press Download to get the output.</li>
				</ol>
				<pre>
				Positions - Text:

				tl      Top Left Corner
        tc      Top Center
        tr      Top Right
        cl      Center Left
        c       Center
        cr      Center Right
        bl      Bottom Left
        bc      Bottom Center
        br      Bottom Right
				</pre>
			</div>
		</div>
	</body>
</html>
