<!DOCTYPE html>
<html>
<head>
	<title>Instructions to Use</title>
</head>
<body>
     <div>
     	<div>
     	     <h1>Instructions</h1>
     	     <p> To use this simple Instructions would be sufficient </p>
     	     <ol>
     	     	<li>Use the Git link to clone the project</li>
     	     	<li>install modules in requirements.txt file</li>
     	     	<li>in the Project folder run python manage.py runserver</li>
     	     	<li>click on the Share Content Button</li>
     	     	<li>Fillin the field and press export</li>
     	     	<li> Pess the Icon of site you want to post to.</li>
     	     </ol>
     	</div>
     </div>
</body>
</html>