<!DOCTYPE html>
<html>
<head>
	<title>Index Page </title>
	<style type="text/css">
		p{
			text-align: center;
			position: absolute;
			top: 20%;
			font-size: 30px;

		}
		.in{
			position: absolute;
			top: 50%;
			left:42%;
		}
	</style>
</head>
<body>
	<div>
		<p> <b>So this app is a social sharing App made on Djnago <br> To use anything in here you could choose to do is check below Share to share and About for usage Intructions</b></p>

		<div class="in">
			<button ><a  style="text-decoration: none;" href="/instructions" target="_blank">Instructions</a></button>
			<button ><a  style="text-decoration: none;" href="/sharePage" target="_blank">Share Post</a> </button>
			<button ><a  style="text-decoration: none;" href="/watermark" target="_blank">Add Logo</a> </button>
		
		</div>


	</div>

</body>
</html>