<!DOCTYPE html>
<html>
<head>
	<title>Social Sharing App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.container1{
			position: absolute;
			top: 30%;
			left: 25%;
		}
		.container{
			position: absolute;
			top: 115%;
			left: 20%;
		}
		label{
    display: inline-block;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  
}
h1{
	position: absolute;
	align-content: center;
	left:33%;
	top:15%;
}

	</style>
</head>
<body>
	<div>
		<h1>Share Post Across Platforms</h1>
		<div class="container1"> 
			<form method="GET" action=" {% url 'sharePage' %}">
				<div >
					<label  style="height: 50px; width:200px"for="Text">Text</label>
		        	<input style="height: 50px; width:200px"  type="text" name="Text" placeholder="Text to post" >
		        </div>
		        <div>
                	<label style="height: 50px; width:200px" for="hashTags">Hash Tags</label>
					<input  style="height: 50px; width:200px;" type="text" name="hashTags" placeholder=" Comma Seperated hashtags">
				</div>
				<div>
					<label style="height: 50px; width:200px" for="URL"> URL</label>
					<input style="height: 50px; width:200px"  type="text" name="URL" placeholder="URL">
				</div>
				<button style="position: absolute; left: 230px; top:100%;" type="submit">Export</button>
				<button style="position: absolute; left: 310px; top:100%;" ><a href="/" style="text-decoration: none; color: black;">Go Back</a></button>
			</form>
            <div class="container">
				<a class="twitter-share-button" target="_blank" 
			  	href="https://twitter.com/intent/tweet?text={{ text }}&hashtags={{ hashtag }}">
				<i style="font-size:34px;border:10px; position:absolute;left: 150px;" class="fa">&#xf099;</i></a>
				<a href="https://www.facebook.com/share.php?u={{ url }}&t=This is the title" target="_blank"> <i style="font-size:34px;border:10px; position:absolute;left: 200px;" class="fa">&#xf09a;</i></a>
				<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ url }} "target="_blank" ><i style="font-size:34px;border:10px; position:absolute;left: 250px;" class="fa">&#xf0e1;</i></a>
			</div>
	</div>
</body>
</html>
